<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonHead :: head"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="fragments/commonNav :: navbar"></nav>

<div class="container">
    <br>
    <H2> 나의 주문 목록</H2>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>구매자명</th>
                <th>판매자명</th>
                <th>상품명</th>
                <th>상품 주문 수량</th>
                <th>상품 주문 가격</th>
                <th>상태</th>
                <th>거래 확정</th>
                <th>주문 취소</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <span th:each="order : ${orders}">
                <tr th:each="orderItem : ${order.orderItems}">
                    <td th:text="${orderItem.itemId}"></td>
                    <td th:text="${order.orderMemberName}"></td>
                    <td th:text="${orderItem.registerMemberName}"></td>
                    <td th:text="${orderItem.itemName}"></td>
                    <td th:text="${orderItem.orderPrice}"></td>
                    <td th:text="${orderItem.count}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td>
                        <a th:if="${order.dealStatus.name() == 'WAIT' && order.orderStatus.name() != 'CANCEL'}"
                           href="#"
                           th:href="'javascript:complete('+${orderItem.orderId}+')'"
                           class="btn btn-outline-primary">거래완료</a>
                    </td>
                    <td>
                        <a th:if="${order.orderStatus.name() == 'ORDER' && order.dealStatus.name() == 'WAIT'}"
                           href="#"
                           th:href="'javascript:cancel('+${orderItem.orderId}+')'"
                           class="btn btn-outline-danger">주문취소</a>
                    </td>
                    <td>
                    </td>
                </tr>

            </span>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
<script>
    function complete(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/myOrders/" + id + "/complete");
        document.body.appendChild(form);
        form.submit();
    }


</script>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/myOrders/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }


</script>
</html>