<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commonHead :: head"></head>
<!--<head th:replace="fragments/header :: header" />-->

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="fragments/commonNav :: navbar"></nav>

<div class="container">
    <!--  <div th:replace="fragments/bodyHeader :: bodyHeader"/>-->
    <br>
    <H2>나의 상품 목록</H2>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원명</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
                <th>상태</th>
                <th>상품 수정</th>
                <th>상품 취소</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="register : ${registers}">
                <td th:text="${register.registerId}"></td>
                <td th:text="${register.nickName}"></td>
                <td th:text="${register.itemName}"></td>
                <td th:text="${register.price}"></td>
                <td th:text="${register.stockQuantity}"></td>
                <td th:text="${register.status}"></td>
                <td>
                    <!-- 수정 -->
                    <th:block>
                        <div th:if="${register.memberId == memberId}">
                            <a href="#" th:href="@{/registers/{id}/edit (id=${register.itemId})}"
                               class="btn btn-outline-primary" role="button">UPDATE</a>
                        </div>
                    </th:block>
                </td>
                <td>
                    <!-- 취소 -->
                    <th:block>
                        <div th:if="${register.memberId == memberId}">
                            <a href="#" th:href="@{/registers/{id}/cancel (id=${register.registerId})}"
                               th:if="${register.status.name() != 'CANCEL'}" class="btn btn-outline-danger"
                               role="button">CANCEL</a>
                        </div>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--  <div th:replace="fragments/footer :: footer"/>-->

</div> <!-- /container -->
</body>
</html>