<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!-- 네임스페이스를 타임리프로 설정 -->
<head th:replace="fragments/header :: header"> <!-- include => 랜더링 될 때 바꿔치기 -->
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">

  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <a class="btn btn-lg btn-primary" href="/logout">로그아웃</a>
  <div class="jumbotron">
    <h1>HELLO SHOP</h1>
    <p class="lead">회원 기능</p>
    <p>
      <a class="btn btn-lg btn-secondary" href="/members/update">회원 정보 수정</a>
      <a class="btn btn-lg btn-secondary" href="/members">전체 회원 목록</a>
    </p>
    <p class="lead">상품 기능</p>
    <p>
      <a class="btn btn-lg btn-dark" href="/register">상품 등록하기</a>
      <a class="btn btn-lg btn-dark" href="/registers">전체 상품 목록</a>
    </p>
    <p class="lead">주문 기능</p>
    <p>
      <a class="btn btn-lg btn-info" href="/order">상품 주문하기</a>
      <a class="btn btn-lg btn-info" href="/orders">전체 주문 내역</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>