<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commonHead :: head"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:replace="fragments/commonNav :: navbar"></nav>

<!-- Page content-->
<div class="container-lg">
    <div class="text-center mt-5">
        <h1>My Market</h1>
        <br>
        <h4>중고 서적 사고 팔기</h4>
        <div class="text-center mt-3">
            <br>
            <div class="row align-items-end, p-3 mb-2 bg-light text-dark">
                <div class="col">
                    <p class="fw-bold, fs-3">상품 등록</p>
                    <a class="btn btn-outline-success btn-lg" href="/register">등록</a>
                </div>
                <div class="col">
                    <p class="fw-bold, fs-3">상품 주문</p>
                    <a class="btn btn-outline-success btn-lg" href="/order">주문</a>
                </div>
            </div>
            <div class="row align-items-end, p-3 mb-2 bg-light text-dark">
                <div class="col">
                    <p class="fw-bold, fs-3">상품 조회</p>
                    <a class="btn btn-outline-info btn-lg" href="/registers">조회</a>
                </div>
                <div class="col">
                    <p class="fw-bold, fs-3">회원 조회</p>
                    <a class="btn btn-outline-info btn-lg" href="/members">조회</a>
                </div>
                <div class="col">
                    <p class="fw-bold, fs-3">주문 조회</p>
                    <a class="btn btn-outline-info btn-lg" href="/orders">조회</a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <p class="lead">JPA, Spring을 이용해 웹앱 구현</p>
    </div>
</div>
</body>

</html>